<div class="user-details">
  <h1> My Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 style="margin: 0; padding: 0;"> 브랜드 평점 (Semi Project) </h3>
    <ul>
      <li> 사용 언어 & 서버
        <ul>
          <li style="list-style: none;">'JAVA / JSP / SQL / JSTL / AJAX / JQUERY / HTML5 / CSS3 / JAVASCRIPT','Apache Tomcat9.0'</li>
        </ul>
      </li>
    </ul>
    <p>음식의 메뉴를 고민하는 사람들에게 프랜차이즈별 각 메뉴의 정보
      (출시일 , 가격 , 음식사진 , 지점 위치)를 소개하고,
      음식의 메뉴에 따른 평점순 , 리뷰순 , 출시일순 , 가격순 으로
      정렬하여 타사용자의 이용후기 들을 쉽고 빠르게 공유할수 있도록
      서비스를 제공한다.</p>
    <a class="project-link" href="#"> Going to Website </a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/logo.png" | prepend: site.baseurl }}" style="width: 425px; height: 284px;"/>
  </div>
  <div class="contents-right">
    <h3> Daily Home Training </h3>
    <ul>
      <li> Final Project (Semi Project) </li>
    </ul>
    <p> Teachable Machine Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="http://ec2-13-58-141-230.us-east-2.compute.amazonaws.com/"> Going to Website </a>
  </div>
</div>
